{% extends "base.html.twig" %}

{% block title %}
	Creation d'un produit
{% endblock %}

{% block body %}
	<h1>Nouveau produit</h1>

	<div class="row">
		<div class="col">
			{{form_row(formView.name)}}
			{{form_row(formView.price)}}

		</div>
		<div class="col">
			{{form_row(formView.category)}}
			{{form_row(formView.shortDescription)}}

		</div>
	</div>
{% endblock %}
